@import './card-header.css';
@import './card-body.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Primary */
  /* Text */
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* Background */
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  /* Neutral */
  /* Text */
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  min-width: 375px;
  min-height: min-content;
  background-image: linear-gradient(to bottom, var(--soft-violet) 0%, var(--soft-blue) 100%);
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}